.info {

    border-style: solid;
    border-radius: 4px;
    border-color: blanchedalmond;
    margin: 5px;
    text-align: center;
   background-color: rgb(156, 152, 153);
   font-family: Arial, Helvetica, sans-serif;
   
  
}

.more{
    color: black;
}
.more:hover{
    text-decoration: underline;
    cursor: pointer;
}
.hide{
    display:none;
}
.show{
    display:block;
}

