.info {

    border-style: solid;
    border-radius: 4px;
    border-color: blanchedalmond;
    margin: 3px;
    text-align: justify;
   
}

.more{
    color: blue;
}
.more:hover{
    text-decoration: underline;
    cursor: pointer;
}
.hide{
    display:none;
}
.show{
    display:block;
}

