.container {
  
  padding: 0px;
  margin: 0px;
  /* text-align: left; */
  color: #3c3a2d;
  /* background-color: rgb(146, 202, 193); */
  /* rgb(243, 183, 160) */
}
.title{
  font-size: 30;
  font-weight: 900;
}

.paragraph{
  font-weight: 300
}

.button{
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 14px
}

.button.primary{
  background: #4a430b;
  color: #ffffff;
}

.link{
  color: #3c3a2d;
  padding: 10px 20px;
  font-size: 12px;
}
.imglogo{
  height: max-content;
  position: relative;

}

 .fondo{
  height: max-content;
  
} 
.App{
  background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fes.vexels.com%2Fvectores%2Fvista-previa%2F102058%2Ffondo-de-musica-colorida&psig=AOvVaw3oYfPdhwZIyKkyxqlFjbvd&ust=1631992165261000&source=images&cd=vfe&ved=0CAgQjRxqFwoTCODXsuvmhvMCFQAAAAAdAAAAABAI);
  background-color: rgb(192, 72, 72);
  height: max-content;
  position: relative;
 
}