.container {
  padding: 30px;
  /* text-align: left; */
  color: #3c3a2d;
  background-color: black;
}
.title{
  font-size: 30;
  font-weight: 900;
}

.paragraph{
  font-weight: 300
}

.button{
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 14px
}

.button.primary{
  background: #4a430b;
  color: #ffffff;
}

.link{
  color: #3c3a2d;
  padding: 10px 20px;
  font-size: 12px;
}

